<li>
    <%
        if chatroom
            %>
            <%
            puts "chatroom exists"  
            %>
            <%= "Hello...#{chatroom.inspect}" %>
            <%=
            link_to chatroom.topic, chatroom_path(chatroom.slug) %>
            <%
        else
            puts "chatroom doesn't exist"
        end
    %>
</li>